html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.happy-city {
  background: url(img/simcity.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.flat-city {
  background: url(img/explosion.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.game-space {
  width: 200px;
  display: inline-block;
  background: black;
  margin-top: 150px;
}
.countdown {
  font-size: 36px;
}
.countdown-saved {
  color: #76ec76;
}
.countdown-panic {
  color: #f00;
}
.reset {
  width: 80%;
  margin: 10px 0;
  padding: 2px;
  color: black;
}